 /* ----------HEADER----------- */
 
 header {
     font-family: Gill Sans Extrabold, sans-serif;
     font-size: 18px;
 }
 
 #login::before {
     content: "";
     background-image: url('../img/perfil.svg');
     position: absolute;
     width: 24px;
     height: 24px;
     margin-left: -29px;
     margin-top: -1px;
 }
 
 #listaoculta {
     margin-left: 2em;
 }
 
 #icon-sacola {
     width: 40;
     height: 40px;
 }
 /* ----------HEADER----------- */
 /* ----------FOOTER----------- */
 
 footer {
     bottom: 0;
 }
 
 #footerredesocial {
     padding-bottom: 0.5rem!important;
     padding-top: 0.5rem!important;
 }
 
 #footerContato {
     margin-bottom: 0.2rem!important;
     font-size: 12px;
 }
 /* ----------FOOTER----------- */
 /* ----------CARROSEL----------- */
 
 #carouselExampleIndicators {
     margin: 0 auto;
     margin-top: 10em;
     margin-bottom: 40px;
     height: 23em;
     width: 70em;
 }
 
 .carousel-control-prev {
     background: rgba(0, 0, 0, 0.030);
 }
 
 .carousel-control-next {
     background: rgba(0, 0, 0, 0.030);
 }
 
 #img {
     margin-left: 15em;
     height: 25em;
     width: 38em;
 }
 /* ----------QUERY MOBILE ----------- */
 /* ----------CARROSEL----------- */
 
 @media screen and (max-width: 720px) {
     #carouselExampleIndicators {
         margin: 0 auto;
         margin-top: 40px;
         margin-bottom: -1.5em;
         height: 15em;
         width: 20em;
     }
     #img {
         margin-left: 3.5em;
         height: 15em;
         width: 13em;
     }
 }